.searchbar {
  background-color: #1c1b1b;
  padding: 1rem;
  border-radius: 1.5rem;
  overflow: hidden;

  .search-form {
    align-items: center;
    gap: 1em;
  }
  .form-control {
    flex: 1;
    input {
      width: 100%;
      background-color: #28343e;
      color: var(--clr-white-300);
      border: none;
      border-radius: 50vh;
      padding: 0.2em 1em;

      &:focus {
        border: none;
        outline-color: var(--clr-orange); 

        outline: none !important;
        border-color: var(--clr-orange);
        box-shadow: 0 0 10px var(--clr-orange);
      }
    }
  }
  .search-btn {
    padding: 0.2em 1em;
    background-color: var(--clr-orange);
    border: none;
    border-radius: 50vh;
  }
}
