.cocktail-detail-section {
  display: grid;
  /* grid-auto-columns: 1fr 1.25fr;
  grid-auto-rows: min-content min-content; */

  grid-template-areas:
    "title"
    "image"
    "ingredients"
    "method";
  gap: 2em;

  h1 {
    font-size: 3rem;
    line-height: 1;
    color: var(--clr-white-200);
  }
  h2 {
    font-size: 1.375rem;
    font-family: var(--ff-montserrat);
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
  }
  p {
    font-size: 1rem;
    color: var(--clr-grey-600);
    line-height: 1.25;
  }

  .cocktail-title {
    grid-area: title;

    .cocktail-tags {
      margin-top: .5em;
      gap: 0.5em;
      flex-wrap: wrap;

      color: var(--clr-grey-600);
      font-size: 1rem;
      font-style: italic;
      text-transform: lowercase;

      > li {
        border: 1px solid currentColor;
        border-radius: 50vh;
        padding-inline: .9em;
      }
    }
  }
  .cocktail-image {
    grid-area: image;
  }
  .cocktail-method {
    grid-area: method;
  }
  .cocktail-ingredients {
    max-width: 25rem;
    grid-area: ingredients;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: min-content min-content min-content;
    .ingredient {
      span {
        margin-inline: 5px;
        height: 15px;
        flex: 1;
        border-bottom: 0.1px solid var(--clr-grey-600);
      }
    }
  }

  .cocktail-title,
  .cocktail-ingredients,
  .cocktail-method {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
  }
}

@media (min-width: 768px) {
  .cocktail-detail-section {
    grid-template-columns: 0.9fr 1fr;
    grid-template-areas:
      "image title"
      "image ingredients"
      "image method";

    .cocktail-image {
      aspect-ratio: 1 / 1;
    }
  }
}
