.cocktails-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  .cocktail {
    gap: 0.5em;

    div:first-child {
      aspect-ratio: 1 / 1.3;
      cursor: pointer;

      &:hover {
        scale: 1.02;
      }
    }

    .cocktail-name {
      font-family: var(--ff-montserrat);
      color: var(--clr-orange);
      font-size: 1rem;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .cocktails-list {
    gap: 2em;
    grid-template-columns: 2fr 1.5fr 1fr;

    .cocktail {
      a {
        flex: 1;
      }
      div:first-child {
        max-width: 250rem;
        height: 100%;
        max-height: 25rem;
        max-width: max-content;
        aspect-ratio: initial;
      }
    }
  }
}
