@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@font-face {
  font-family: Lovelace-Primary;
  src: url("./assets/fonts/Zetafonts\ -\ Lovelace\ Text\ Regular.otf");
}
@font-face {
  font-family: Lovelace-Secondary;
  src: url("./assets/fonts/Zetafonts\ -\ Lovelace\ Text\ Bold\ Italic.otf");
}

:root {
  --clr-black-700: #030202;
  --clr-white-200: #ececec;
  --clr-white-300: #fafafa;
  --clr-grey-300: #c0c0c0;
  --clr-grey-600: #6c6c6c;
  --clr-orange: #ff6d16;

  --ff-lovelace-primary: Lovelace-Primary, sans-serif;
  --ff-lovelace-secondary: Lovelace-Secondary, sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;
}

/* Josh's Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-lovelace-primary);
}

i {
  font-family: var(--ff-lovelace-secondary);
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  color: var(--clr-white-300);
  text-decoration: none;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-black-700);
  font-family: var(--ff-montserrat);
  color: var(--clr-white-200);
}

main, header, footer {
  max-width: 70rem;
  margin-inline: auto;
}

main {
  margin-block: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Utility Classes */
.flex[direction="row"] {
  display: flex;
  flex-direction: row;
}
.flex[direction="col"] {
  display: flex;
  flex-direction: column;
}

/* Image-Container Shape Utilities */
.topRight-bottomLeft-curved {
  border-radius: 1rem 50% 1rem 50%;
  overflow: hidden;
  box-shadow: -1px 1.5px 0px 1px var(--clr-orange);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.topLeft-bottomRight-curved {
  border-radius: 50% 1rem 50% 1rem;
  overflow: hidden;
  box-shadow: 1px 1.5px 0px 1px var(--clr-orange);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.topLeft-curved {
  border-radius: 50% 1rem 1rem 1rem;
  overflow: hidden;
  box-shadow: 1px 1.5px 0px 1px var(--clr-orange);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.topLeft-topRight-curved {
  border-radius: 50vh 50vh 5rem 5rem;
  overflow: hidden;
  box-shadow: 0px 2px 0px 1px var(--clr-orange);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.topLeft-topRight-bottomRight-curved {
  border-radius: 50vh 50vh 50vh 3rem;
  overflow: hidden;
  box-shadow: 1.5px 1.5px 0px 1px var(--clr-orange);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.topLeft-topRight-bottomLeft-curved {
  border-radius: 50vh 50vh 3rem 50vh;
  overflow: hidden;
  box-shadow: 1.5px 1.5px 0px 1px var(--clr-orange);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.topRight-curved {
  border-radius: 1rem 50% 1rem 1rem;
  overflow: hidden;
  box-shadow: -1px 1px 0px 1px var(--clr-orange);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
